.buttons {
    text-align: center !important;
    margin-top: 2px;
    margin-bottom: 2px;
}

.background{
    background-color: blue;
    color: white;
    font-size: 24px;
}

button:hover{
    background-color: white !important;
    color: blue !important;
}

.gifView {
    margin-top: 10px;
}